.admin-container {
    margin-left: 180px;
    margin-right: 180px;

    margin-top: 12px;
    margin-bottom: 12px;
    
    .admin-toolpanel {
        background-color: rgb(194, 215, 255);
        border-radius: 6px;

        padding: 8px;
    }

    .admin-games-container {
        
    }
}