.CButton0.MuiButtonBase-root {
    font-family: "Exo2", sefil;
    font-weight: 500;
    color: #A6E4FF;

    font-size: 16px;

    background-color: #111138;
    border: #2F2F7A solid 2px;

    border-radius: 6px;

    min-width: 100px;

    text-transform: none;
}

.CButton0.MuiButtonBase-root:hover {
    background-color: #191951;
}

.CButton1.MuiButtonBase-root {
    font-family: "Exo2", sefil;
    font-weight: 500;
    color: #A6E4FF;

    font-size: 14px;

    justify-content: left;

    padding-left: 20px;

    background-color: #292985;

    border-radius: 6px;

    min-width: 100px;

    text-transform: none;
}

.CButton1.MuiButtonBase-root:hover {
    background-color: #191951;
}

.CButton-Error.MuiButtonBase-root {
    font-family: "Exo2", sefil;
    font-weight: 500;
    color: #ffa6a6;

    font-size: 14px;

    background-color: #852929;

    border-radius: 6px;

    text-transform: none;
}

.CButton-Error.MuiButtonBase-root:hover {
    background-color: #511919;
}