.user-editor-container {
    width: 100%;

    .user-editor-image-display {
        width: 150px;
        height: 150px;

        img {
            border-radius: 128px;

            width: inherit;
            height: inherit;
        }
    }

    .user-danger-zone {
        margin-top: 25px;

        gap: 50px;

        background-color: rgb(249, 216, 216);

        padding: 25px;

        border-radius: 8px;
    }
}